.details {
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.pokedex-link {
    margin-top: 2rem;
    margin-left: 0.25rem;
    /* position: relative; */
}

.pokedex-link a {
    background-color: #FFF;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 6px;
}

.detailsMain {
    max-width: 800px;
    width: 100%;
    /* padding-top: 1rem; */
}

.detailsMain #pokemonName, #pokemonNumber {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-transform: capitalize;
}

.detailsMain .types {
    padding: 0;
    margin: 0;
}

.detailsMain .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem .25rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

.detailsMain .sprite {
    position: relative;
    bottom: -20px;
    max-width: 300px;
    width: calc(calc(100vw - 100px) * 0.6);
    align-self: center;
    caret-color: transparent;
}

.detailsMain .detailsInfo {
    background-color: #FFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.detailsMain .detailsInfo .nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.detailsMain .detailsInfo .nav li a {
    display: block;
    color: #868686;
    text-align: center;
    padding: 32px 16px 16px 16px;
    padding: 32px min(4vw, 16px) min(4vw, 16px) min(4vw, 16px);
    caret-color: transparent;
}

.detailsMain .detailsInfo .nav li .selected {
    color: #121212;
    border-bottom: 2px solid black;
}

.detailsMain .detailsInfo .info {
    min-height: 40vh;
    padding: min(0.5rem, 0.8vh) min(3.25em, 6vw);
}

.detailsMain .detailsInfo .info ul {
    line-height: 2.2rem;
    text-transform: capitalize;
}

.detailsMain .detailsInfo .info ul .gender-m {
    color: blue;
    margin-right: 1.5rem;
}

.detailsMain .detailsInfo .info ul .gender-f {
    color: red;
}

.detailsMain .detailsInfo .info .labels {
    color: #787878;
    text-align: left;
    width: min(86px, 24vw);
}

.detailsMain .detailsInfo .info .values {
    color: #121212;
    text-align: left;
    margin-left: 32px;
}

