.details {
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.pokedex-link {
    margin-top: 2rem;
    margin-left: 0.25rem;
    /* position: relative; */
}

.pokedex-link a {
    background-color: #FFF;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 6px;
}

.detailsMain {
    max-width: 500px;
    width: 100%;
    /* padding-top: 1rem; */
}

.detailsMain #pokemonName, #pokemonNumber {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-transform: capitalize;
}

.detailsMain .types {
    padding: 0;
    margin: 0;
}

.detailsMain .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem .25rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

.detailsMain .sprite {
    position: relative;
    bottom: -20px;
    max-width: 300px;
    width: min(calc(calc(100vw) * 0.5), 250px);
    align-self: center;
    caret-color: transparent;
}

.detailsMain .detailsInfo {
    background-color: #FFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.detailsMain .detailsInfo .nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.detailsMain .detailsInfo .nav li a {
    display: block;
    color: #868686;
    text-align: center;
    padding: 32px 16px 16px 16px;
    padding: 32px min(4vw, 16px) min(4vw, 16px) min(4vw, 16px);
    caret-color: transparent;
}

.detailsMain .detailsInfo .nav li .selected {
    color: #121212;
    border-bottom: 2px solid black;
}

.detailsMain .detailsInfo .info {
    min-height: 40vh;
    padding: min(0.5rem, 0.8vh) min(3.25em, 6vw);
}

.detailsMain .detailsInfo .pokeTag {
    position: relative;
    right: 0;
    padding: 4px 8px;
    border-radius: 6px;
    text-align: center;
    line-height: 1.0rem;
    text-transform: uppercase;
}

.detailsMain .detailsInfo .tagBaby {
    background-color: #DDE8B9;
    color: #796465;
    box-shadow: -1px -1px 4px 1px #DDE8B9, 1px 1px 4px 1px #C1ABA6;
}

.detailsMain .detailsInfo .tagLegendary {
    background-color: #EEE0CB;
    color: #946846;
    box-shadow: -1px -1px 4px 1px #EEE0CB, 1px 1px 4px 1px #C1ABA6;
}

.detailsMain .detailsInfo .tagMythical {
    background-color: #A393BF;
    color: #0C0910;
    box-shadow: -1px -1px 4px 1px #A393BF, 1px 1px 4px 1px #C1ABA6;
}

.detailsMain .detailsInfo .info ul {
    line-height: 2.2rem;
    text-transform: capitalize;
    text-wrap: nowrap;
}

.detailsMain .detailsInfo .info ul .gender-m {
    color: blue;
}

.detailsMain .detailsInfo .info ul .gender-f {
    color: red;
    margin-left: 1.5rem;
}

.detailsMain .detailsInfo .info .labels {
    color: #787878;
    text-align: left;
    width: min(190px, 52vw);
}

.detailsMain .detailsInfo .info .values {
    color: #121212;
    text-align: left;
    margin-left: 32px;
    width: 100%;
}

.detailsMain .detailsInfo .info .values .statsBar {
    border: 1px solid #D9D9D9;
    border-radius: 1px;
}

.detailsMain .detailsInfo .info .values .statsBarProgress {
    border-radius: 1px;
    height: 4px;
}

